/* Body background and font */
body {
  background: #272343;
  color: whitesmoke;
}

/* Main heading */
.heading p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  font-style: italic;
}

/* Countdown timer */
.timer {
  color: #272343;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 5px solid rgb(252, 42, 42);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe9eb;
  background-image: url("data/animatedlogo.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.timer .row {
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

.row {
  width: 100%;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #e3f6f5;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #bae8e8;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
#link {
  color: #ffffff;
}
#time {
  margin: 1rem;
  color: black;
}
